@model Tochka.Areas.Hr.Models.VacancyRecordViewModel

@{
    ViewData["Title"] = "Создание вакансии";
}

<h2>Создание вакансии</h2>

<div class="section">
    <form asp-area="Hr" asp-controller="Vacancies" asp-action="Create">
        @{await Html.RenderPartialAsync("_RecordPartial");}

        <div class="section">
            <button type="submit" class="btn btn-primary">Создать</button>
            <a asp-area="Hr" asp-controller="Vacancies" asp-action="Index" class="btn btn-default">Вернуться к списку</a>
        </div>
    </form>
</div>

@section StyleSheet {
    @{Html.RenderPartial("_MarkdownEditorStyleSheetPartial");}
}

@section Scripts {
    @{Html.RenderPartial("_MarkdownEditorScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
