@model Tochka.Areas.Hr.Data.Vacancy

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Vacancy</h4>

<div class="row">
    <div class="col-md-6">
        <form asp-area="Hr" asp-controller="Vacancies" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
            <div class="md-form">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Annotation"></label>
                <textarea type="text" asp-for="Annotation" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Annotation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Text"></label>
                <textarea type="text" asp-for="Text" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <div>
                <input type="hidden" asp-for="Id" />

                <button type="submit" class="btn btn-primary">Save</button>
                <a asp-area="Hr" asp-controller="Vacancies" asp-action="Index" class="btn btn-default">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section StyleSheet {
    @{Html.RenderPartial("_MarkdownEditorStyleSheetPartial");}
}

@section Scripts {
    @{Html.RenderPartial("_MarkdownEditorScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
