<div class="section">
    <div class="row">
        <div class="col-md-4">
            <div  class="card card-body view overlay hm-black-slight">
                <h4 class="card-title">Учетные записи</h4>
                <a asp-area="Accounts" asp-controller="Home" asp-action="Index" class="mask" title="Учетные записи"></a>
            </div>
        </div>
        <div class="col-md-4">
            <div  class="card card-body view overlay hm-black-slight">
                <h4 class="card-title">HR</h4>
                <a asp-area="Hr" asp-controller="Home" asp-action="Index" class="mask" title="HR"></a>
            </div>
        </div>
    </div>
</div>
