@model RecordViewModel

@{
    ViewData["Title"] = "Создание вакансии";
}

<h2>@ViewData["Title"]</h2>

<div class="section">
    <form method="post">
        @{await Html.RenderPartialAsync("_RecordPartial");}

        <div class="section">
            <button type="submit" class="btn btn-primary">Создать</button>
            <a asp-area="Hr" asp-controller="Vacancy" asp-action="Index" class="btn btn-default">Вернуться к списку</a>
        </div>
    </form>
</div>

@section StyleSheet {
    @{Html.RenderPartial("_MarkdownEditorStyleSheetPartial");}
}

@section Scripts {
    @{Html.RenderPartial("_MarkdownEditorScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
