@model RecordViewModel

@{
    ViewData["Title"] = "Создание пользователя";
}

<h2>@ViewData["Title"]</h2>

<div class="section">
    <form method="post">
        @{await Html.RenderPartialAsync("_RecordPartial");}

        <div class="section">
            <button type="submit" class="btn btn-primary">Создать</button>
            <a asp-area="Accounts" asp-controller="User" asp-action="Index" class="btn btn-default">Вернуться к списку</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
