@model RecordViewModel

@{
    ViewData["Title"] = "Редактирование пользователя";
}

<h2>Редактирование пользователя</h2>

<div class="section">
    <form asp-area="Accounts" asp-controller="User" asp-action="Edit">
        @{await Html.RenderPartialAsync("_RecordPartial");}

        <div class="section">
            <input type="hidden" asp-for="Id" />

            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a asp-area="Accounts" asp-controller="User" asp-action="Index" class="btn btn-default">Вернуться к списку</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
