@model LockoutViewModel

@{
    ViewData["Title"] = "Блокировка пользователя";
}

<h2>@ViewData["Title"]</h2>

<div class="section">
    <form method="post">
        <div class="section">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        </div>

        <div class="section">
            <div class="row">
                <div class="col-md-6">
                    <radio for="TermId" items="Model.LockoutTerm" />
                    <span asp-validation-for="TermId" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="section">
            <input type="hidden" asp-for="Id" />

            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a asp-area="Accounts" asp-controller="User" asp-action="Index" class="btn btn-default">Вернуться к списку</a>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
