@{
    Layout = "_Layout";
    ViewData["Title"] = "Подтверждение электронной почты";
}

<h2>@ViewData["Title"]</h2>

<div class="section">
    <div>Благодарим вас за подтверждение электронной почты. Скоро вам будут отправлены данные учетной записи.</div>
</div>
