@{
    Layout = "_Layout";
    ViewData["Title"] = "Доступ закрыт";
}

<h2>@ViewData["Title"]</h2>

<div class="section">
    <div>Эта учетная запись заблокирована, повторите попытку позже.</div>
</div>
