@model ResetPasswordViewModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Изменение пароля";
}

<h2>@ViewData["Title"]</h2>

<div class="section">
    <form asp-area="Accounts" asp-controller="Auth" asp-action="ResetPassword">
        <div class="section">
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
        </div>

        <div class="section">
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="md-form">
                <i class="fa fa-lock prefix grey-text"></i>
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

        <div class="section">
            <input asp-for="Id" type="hidden" />
            <input asp-for="Code" type="hidden" />

            <button type="submit" class="btn btn-primary">Изменить</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
