@{
    Layout = "_Layout";
    ViewData["Title"] = "Изменен пароль";
}

<h2>@ViewData["Title"]</h2>

<div class="section">
    <div>
        Ваш пароль был изменен.
        Пожалуйста, <a asp-area="Accounts" asp-controller="Auth" asp-action="Login">нажмите здесь чтобы войти в систему</a>.
    </div>
</div>
