<div class="section">
    <div class="row">
        <div class="col-md-4">
            <div  class="card card-body view overlay hm-black-slight">
                <h4 class="card-title">Вакансии</h4>
                <a asp-area="Hr" asp-controller="Vacancy" asp-action="Index" class="mask" title="Вакансии"></a>
            </div>
        </div>
    </div>
</div>
