<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tochka</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/Font-Awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="~/lib/MDBootstrap/css/mdb.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="modal" asp-fallback-test-property="position" asp-fallback-test-value="fixed" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              asp-fallback-href="~/lib/Font-Awesome/css/font-awesome.css"
              asp-fallback-test-class="fa" asp-fallback-test-property="font" asp-fallback-test-value="normal normal normal 14px/1 FontAwesome" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/css/mdb.min.css"
              asp-fallback-href="~/lib/MDBootstrap/css/mdb.min.css"
              asp-fallback-test-class="picker" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body class="fixed-sn light-blue-skin">

    <!--Main Navigation-->
    <header>

        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark double-nav fixed-top scrolling-navbar">

            <!-- SideNav slide-out button -->
            <div class="float-left">
                <a href="#" data-activates="slide-out" class="button-collapse">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <!--/. SideNav slide-out button -->

        </nav>
        <!--/. Navbar -->

        <!-- Sidebar navigation -->
        <div id="slide-out" class="side-nav fixed sn-bg-4">
            
            <ul class="custom-scrollbar list-unstyled">

                <!-- Logo -->
                <li>
                    <div class="logo-wrapper waves-light">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/images/tochka_logo.svg" class="img-fluid flex-center">
                        </a>
                    </div>
                </li>
                <!--/. Logo -->

                <!-- Search Form -->
                <li>
                    <form class="search-form" role="search">
                        <div class="form-group waves-light">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                    </form>
                </li>
                <!--/. Search Form -->

                <!-- Side navigation links -->
                <li>
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header waves-effect arrow-r"><i class="fa fa-chevron-right"></i> Home<i class="fa fa-angle-down rotate-icon"></i></a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a class="waves-effect" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                                    <li><a class="waves-effect" asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                                    <li><a class="waves-effect" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <!--/. Side navigation links -->

            </ul>

            <div class="sidenav-bg mask-strong"></div>
        </div>
        <!--/. Sidebar navigation -->

    </header>
    <!--/. Main Navigation-->

    <!-- Main layout -->
    <main>
        <div class="container-fluid">
            @RenderBody()
        </div>
    </main>
    <!--/. Main layout -->

    <!-- Footer -->
    <footer class="page-footer center-on-small-only">

        <!-- Copyright -->
        <div class="footer-copyright">
            <div class="container-fluid">
                &copy; 2017 - Tochka
            </div>
        </div>
        <!--/. Copyright -->

    </footer>
    <!--/. Footer -->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/popper.js/dist/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/MDBootstrap/js/mdb.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/esm/popper.min.js"
                asp-fallback-src="~/lib/popper.js/dist/popper.min.js"
                asp-fallback-test="window.Popper"
                crossorigin="anonymous"
                integrity="sha256-tWDaEmVqcf3+EBjNCtfZSFaWGT++lmVJH9KY64BJU+U=">
        </script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.4.1/js/mdb.min.js"
                asp-fallback-src="~/lib/MDBootstrap/js/mdb.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.pickadate"
                crossorigin="anonymous"
                integrity="sha256-ryJ2fPnVdJ0kcED8zYEreV77dcLLV4evQHK/j8bwhhk=">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
